{% extends 'charity_donation/base.html' %}
{% load static %}


    {% block content %}

    <header class="header--main-page">

      <div class="form--steps-container">
            <h2>Imię: {{ request.user.first_name }}</h2>
            <h2>Nazwisko: {{ request.user.last_name }}</h2>
            <h2>email: {{ request.user.username }}</h2>
      </div>

      <div class="form--group">
        {% for donation in donations.all %}
            <ul>
                <li>Worki {{ donation.quantity }}</li>
                <li>Organizacja {{ donation.institution }}</li>
                <li>Kategorie: {% for category in donation.categories.all %} {{ category.name }}{% endfor %}</li>
                <li>Odbiór {{ donation.pick_up_date | date:"SHORT_DATE_FORMAT" }}, {{ donation.pick_up_time | time:"H:i" }}</li>
            </ul>
        {% endfor %}
      </div>

    </header>

  {% endblock %}