{% extends 'charity_donation/base.html' %}
{% load static %}


    {% block content %}

    <header class="header--main-page">

      <div class="form--steps-container">
            <h2>Imię: {{ request.user.first_name }}</h2>
            <h2>Nazwisko: {{ request.user.last_name }}</h2>
            <h2>email: {{ request.user.username }}</h2>
      </div>

      <div class="form--group">
        {% for donation in donations %}
            <ul>
                <li>Worki: {{ donation.quantity }}</li>
                <li>Organizacja: {{ donation.institution }}</li>
                <li>Kategorie: {% for category in donation.categories.all %} {{ category.name }},{% endfor %}</li>
                <li>Odbiór {{ donation.pick_up_date | date:"d/m/Y" }}, {{ donation.pick_up_time | time:"H:i" }}</li>
                <li>
                    <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="donation_id" value="{{ donation.pk }}">
                        {% if donation.is_taken == True %}
                            <button type="submit" class="btn"  style="color: dimgray" name="donation_taken">
                                <p>Przywróć</p>
                            </button>
                        {% else %}
                            <button type="submit" class="btn" name="donation_not_taken">
                                <p>Archiwizuj</p>
                            </button>
                        {% endif %}
                    </form>
                </li>
            </ul>
        {% endfor %}
      </div>

    </header>

  {% endblock %}